<?xml version="1.0"?>

<model>
  <name>Playbox</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Frank Hu</name>
    <email>tianyaoh@hotmail.com</email>
  </author>

  <description>
    Playbox for testing picking and placing for the robot picka and place.
  </description>
</model>
