<?xml version="1.0" ?>
<robot name="arctos_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">


<xacro:include filename="$(find arctos_urdf_description)/urdf/joint_link.xacro"/>


<!-- Start of Selection -->
<material name="paint_metallic_blue_2">
<!-- <color rgba="0.7764705882352941 0.7764705882352941 0.7764705882352941 1.0"/> -->
  <color rgba="0.0 0.0 1.0 1.0"/> <!-- A solid blue color that works in Gazebo -->
</material>
<!-- End of Selection -->

<!-- Define the world link explicitly -->
<link name="world"/>

<!-- fix the robot to the world -->
<joint name="world_to_base_link" type="fixed">
  <parent link="world"/>
  <child link="base_link"/>
</joint>

<xacro:arctos_link 
    name="base_link" 
    origin_xyz="0 0 0" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="0.0009375030874740357 0.047087016508753216 0.06663230338123677" inertia_origin_rpy="0 0 0" 
    mass="7.598577592821282" 
    ixx="0.063328" iyy="0.03095" izz="0.072371" ixy="-0.000434" iyz="0.001366" ixz="0.000108"
/>

<xacro:arctos_link 
    name="Link_1_1" 
    origin_xyz="-0.0 -0.000529 -0.111" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="0.0022188890353287776 -0.004863444449475237 0.08546835509394825" inertia_origin_rpy="0 0 0" 
    mass="10.394711633971145" 
    ixx="0.061139" iyy="0.073854" izz="0.05669" ixy="0.00017" iyz="0.003835" ixz="-0.00148"
/>

<xacro:arctos_link 
    name="Link_2_1" 
    origin_xyz="0.05713 0.020356 -0.289378" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="0.055314283466519745 0.010843565259072822 0.11412354328486207" inertia_origin_rpy="0 0 0" 
    mass="11.558090086674309" 
    ixx="0.128567" iyy="0.14463" izz="0.044463" ixy="3e-06" iyz="-0.003293" ixz="0.001539"
/>

<xacro:arctos_link 
    name="Link_3_1" 
    origin_xyz="-0.043 0.019045 -0.550385" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="-0.04178369242643258 -0.03913025368943244 0.01221763827191602" inertia_origin_rpy="0 0 0" 
    mass="3.601405589552794" 
    ixx="0.012497" iyy="0.006916" izz="0.011789" ixy="-3.6e-05" iyz="0.001536" ixz="-8.1e-05"
/> 

<xacro:arctos_link 
    name="Link_4_1" 
    origin_xyz="-1e-06 0.15874 -0.57209" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="0.00021104999825562586 -0.06028834880207104 -0.0005408226217131773" inertia_origin_rpy="0 0 0" 
    mass="3.7852887653107565" 
    ixx="0.011624" iyy="0.011491" izz="0.017363" ixy="-9e-06" iyz="-7.1e-05" ixz="4e-06"
/>

<xacro:arctos_link 
    name="Link_5_1" 
    origin_xyz="0.039011 0.279927 -0.570316" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="0.0397291414278933 -0.012662394123331089 0.0007929187272999183" inertia_origin_rpy="0 0 0" 
    mass="0.8319811655030993" 
    ixx="0.000732" iyy="0.000958" izz="0.000907" ixy="-1.2e-05" iyz="-5e-06" ixz="5e-06"
/>

<xacro:arctos_link 
    name="Link_6_1" 
    origin_xyz="-0.000193 0.313762 -0.570316" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="6.567946382108388e-08 -0.003042398377876454 -3.032508957279134e-07" inertia_origin_rpy="0 0 0" 
    mass="0.10343478090890781" 
    ixx="5.2e-05" iyy="0.000103" izz="5.2e-05" ixy="-0.0" iyz="0.0" ixz="0.0"
/>

<xacro:arctos_link 
    name="Gripper_1" 
    origin_xyz="-0.000193 0.319847 -0.570316" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="0.0036112727264542635 -0.014760653808445767 -0.00103677815369696" inertia_origin_rpy="0 0 0" 
    mass="0.5810486809925093" 
    ixx="0.000385" iyy="0.000495" izz="0.000263" ixy="1e-05" iyz="-2e-06" ixz="3e-06"
/>

<xacro:arctos_link 
    name="Left_jaw_1" 
    origin_xyz="-0.007934 0.359845 -0.599867" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="-0.011142702480351952 -0.009692440309284511 -0.009385792627785827" inertia_origin_rpy="0 0 0" 
    mass="0.07369602565859415" 
    ixx="1.1e-05" iyy="6e-06" izz="1.4e-05" ixy="2e-06" iyz="-0.0" ixz="-0.0"
/>

<xacro:arctos_link 
    name="Right_jaw_1" 
    origin_xyz="-0.007934 0.359845 -0.539867" origin_rpy="0 0 0" 
    material_name="paint_metallic_blue_2" 
    inertia_origin_xyz="-0.008289104952972526 -0.009768535307719373 0.009395511902715814" inertia_origin_rpy="0 0 0" 
    mass="0.07312902168719511" 
    ixx="1.1e-05" iyy="6e-06" izz="1.4e-05" ixy="-1e-06" iyz="0.0" ixz="-1e-06"
/>

<xacro:arctos_joint
  name="joint1" type="continuous"
  parent="base_link" child="Link_1_1"
  origin_xyz="0.0 0.000529 0.111" origin_rpy="0 0 0"
  axis_xyz="-0.0 0.0 1.0"
  limit_u="${pi}" limit_l="${-pi}" limit_e="100" limit_v="1"
/>

<xacro:arctos_joint
  name="joint2" type="continuous"
  parent="Link_1_1" child="Link_2_1"
  origin_xyz="-0.05713 -0.020885 0.178378" origin_rpy="0 0 0"
  axis_xyz="1.0 -0.0 -0.0"
  limit_u="2.3" limit_l="-1.45" limit_e="100" limit_v="1"
/>

<xacro:arctos_joint
  name="joint3" type="continuous"
  parent="Link_2_1" child="Link_3_1"
  origin_xyz="0.10013 0.001311 0.261007" origin_rpy="0 0 0"
  axis_xyz="-1.0 -0.0 0.0"
  limit_u="1.85" limit_l="0.84" limit_e="100" limit_v="1"
/>

<xacro:arctos_joint
  name="joint4" type="continuous"
  parent="Link_3_1" child="Link_4_1"
  origin_xyz="-0.042999 -0.139695 0.021705" origin_rpy="0 0 0"
  axis_xyz="-0.0 1.0 -0.0"
  limit_u="${pi}" limit_l="${-pi}" limit_e="100" limit_v="1"
/>

<xacro:arctos_joint
  name="joint5" type="continuous"
  parent="Link_4_1" child="Link_5_1"
  origin_xyz="-0.039012 -0.121187 -0.001774" origin_rpy="0 0 0"
  axis_xyz="-1.0 -0.0 0.0"
  limit_u="1.55" limit_l="-1.55" limit_e="100" limit_v="1"
/>
<xacro:arctos_joint
  name="joint6" type="continuous"
  parent="Link_5_1" child="Link_6_1"
  origin_xyz="0.039204 -0.033835 0.0" origin_rpy="0 0 0"
  axis_xyz="-0.0 1.0 -0.0"
  limit_u="${pi}" limit_l="${-pi}" limit_e="100" limit_v="1"
/>

<xacro:arctos_joint
  name="gripper" type="fixed"
  parent="Link_6_1" child="Gripper_1"
  origin_xyz="0.0 -0.006085 0.0" origin_rpy="0 0 0"
  axis_xyz="0 0 0"
  limit_u="0" limit_l="0" limit_e="0" limit_v="0"
/>
<xacro:arctos_joint
  name="jaw1" type="prismatic"
  parent="Gripper_1" child="Left_jaw_1"
  origin_xyz="0.007741 -0.039998 0.029551" origin_rpy="0 0 0"
  axis_xyz="-0.0 0.0 -1.0"
  limit_u="0.015" limit_l="0.0" limit_e="100" limit_v="100"
/>
<xacro:arctos_joint
  name="jaw2" type="prismatic"
  parent="Gripper_1" child="Right_jaw_1"
  origin_xyz="0.007741 -0.039998 -0.030449" origin_rpy="0 0 0"
  axis_xyz="0.0 -0.0 1.0"
  limit_u="0.015" limit_l="0.0" limit_e="100" limit_v="100"
/>  

<!-- END of Gripper Section -->


<!-- Transmission section -->
<xacro:transmission name="joint1_tran" joint_name="joint1" actuator_name="joint1_actr"/>
<xacro:transmission name="joint2_tran" joint_name="joint2" actuator_name="joint2_actr"/>
<xacro:transmission name="joint3_tran" joint_name="joint3" actuator_name="joint3_actr"/>
<xacro:transmission name="joint4_tran" joint_name="joint4" actuator_name="joint4_actr"/>
<xacro:transmission name="joint5_tran" joint_name="joint5" actuator_name="joint5_actr"/>
<xacro:transmission name="joint6_tran" joint_name="joint6" actuator_name="joint6_actr"/>
<xacro:transmission name="jaw1_tran" joint_name="jaw1" actuator_name="jaw1_actr"/>
<xacro:transmission name="jaw2_tran" joint_name="jaw2" actuator_name="jaw2_actr"/>


<!-- Gazebo plugin -->
<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/arctos</robotNamespace>
  </plugin>
</gazebo>

</robot>
