<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arctos_urdf">


<xacro:macro name="arctos_link" params="name origin_xyz origin_rpy material_name">
  <link name="${name}">
    <inertial>
      <xacro:insert_block name="inertial_properties"/>
    </inertial>
    <visual>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
      <geometry>
        <mesh filename="package://arctos_urdf_description/meshes/${name}.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="${material_name}"/>
    </visual>
    <collision>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
      <geometry>
        <mesh filename="package://arctos_urdf_description/meshes/${name}.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</xacro:macro>



<xacro:macro name="arctos_joint" params="name type parent child origin_xyz origin_rpy axis_xyz limit_u limit_l limit_e limit_v">
  <joint name="${name}" type="${type}">
    <parent link="${parent}"/>
    <child link="${child}"/>
    <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    <axis xyz="${axis_xyz}"/>
    <limit upper="${limit_u}" lower="${limit_l}" effort="${limit_e}" velocity="${limit_v}"/>
  </joint>
</xacro:macro>

</robot>