<launch>

  <!-- Associate to the robot description parameter, the urdf file that model the robot -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find arctos_urdf_description)/urdf/arctos_urdf.xacro" />

  <!-- Set teh position in empty world -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />

  <!-- Launch Gazebo world in paused -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true" />
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false" />
  </include>

  <!-- Spawn the robot using the package gazebo_ros -->
  <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model arctos -x $(arg x) -y $(arg y) -z $(arg z)" />

<!-- Load the controller params -->
<rosparam file="$(find arctos_urdf_description)/config/arctos_joint_states.yaml" />
<rosparam file="$(find arctos_urdf_description)/config/trajectory_control.yaml" />

<!-- Start the controller manager -->
<!-- <node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen"/> -->

<!-- <include file="$(find arctos_moveit_config)/launch/arctos_moveit_controller_manager.launch" /> -->
<!-- Controller Manager -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" 
      respawn="false" output="screen" ns="/arctos"
      args="arm_controller
            gripper_controller
            --timeout 60" >
</node>

<!-- Convert Joint State to TF transform for rviz and rqt -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        output="screen" respawn="true">
        <!-- <remap from="joint_states" to="/arctos/joint_states" /> -->
</node>

<!-- joint state publisher -->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="joint_states" to="/arctos/joint_states" />
</node>

<include file="$(find arctos_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="false"/>
</include>

<include file= "$(find arctos_moveit_config)/launch/move_group.launch" >
    <arg name="publish_monitored_planning_scene" value="true" />
    <!-- <arg name ="namespace" value="arctos"/> -->
</include>

<include file="$(find arctos_moveit_config)/launch/moveit_rviz.launch" >
    <arg name="rviz_config" value="$(find arctos_moveit_config)/launch/moveit.rviz" />
</include>


</launch>